{% extends 'blog/base.html' %}
{% load blog_tags %}

{% block title %}Search{% endblock %}

{% block content %}
{% if query %}

<h1 class="title">Posts containing "{{ query }}"</h1>
<h2 class="subtitle">
    {% with results.count as total_results %}
    Found {{ total_results }} result{{ total_results|pluralize }}
    {% endwith %}
</h2>

{% for post in results %}
<div class="result__block">
    <div class="result__header">
        <span class="reuslt__author">{{ post.author }}</span>
        <span class="reuslt__date">{{ post.publish|date:"j M, H:i" }}</span>
    </div>
    <h3 class="result__title"><a href="{{ post.get_absolute_url }}" class="result__link">{{ post.title }}</a></h3>
    <div class="result__footer">
        <span class="item-footer__comment">{{ post.comments.count }}</span>
        <div class="result__tags">
            {% for tag in post.tags.all %}
            <a class="footer-tag tag" href="{% url 'blog:post_list_by_tag' tag.slug %}">
                {{ tag.name }}
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% empty %}
<p>There are no results for your query.</p>
{% endfor %}
{% endif %}

{% endblock %}